# Directorios de compilación de Java
/bin
/build
/target
/out

# Archivos de configuración de IntelliJ IDEA
.idea
*.iml

# Archivos de configuración de Eclipse
.project
.classpath
.settings/

# Archivos generados por Maven
.mvn/
target/
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Archivos generados por Gradle
.gradle
build/

# Archivos generados por Visual Studio Code
.vscode/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de empaquetamiento
*.jar
*.war
*.ear

# Archivos generados por el entorno de pruebas
/test-output/
*.ser

# Archivos de configuración de sistemas CI/CD
/.travis.yml
/.circleci/
/.gitlab-ci.yml
/.github/

# Archivos de entorno
.env
