# Directorios de compilación de Java
/bin
/build
/target
/out
/lib

# Archivos .class
*.class

# Archivos de configuración de IntelliJ IDEA
.idea
*.iml
*.vscode

# Archivos de configuración de Eclipse
.project
.classpath
.settings/

# Archivos generados por Maven
.mvn/
target/
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Archivos generados por Gradle
.gradle
build/

# Archivos generados por Visual Studio Code
.
